<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Play Presentation</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Start Your Presentation</h1>
      <form action="/start_presentation" method="POST">
        <button type="submit">Play Presentation</button>
      </form>
    </div>
  </body>
</html>
